* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
  background-color: white;
  z-index: 1;
  position: relative;
}

header a {
  position: absolute;
  left: 20px;
}

header img {
  height: 40px;
}

body {
  font-family: Roboto, arial, sans-serif;
}

.menu-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 15px;
  padding: 15px 5px 0px 5px;
  font-size: x-large;
  font-family: shrikhand;
}

.hearts {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 15px;
}

.hearts i.fa-solid {
  display: none;
}

.hearts:hover {
  cursor: pointer;
}

.hearts:hover i.fa-regular {
  display: none;
}

.hearts:hover i.fa-solid {
  display: block;
  color: transparent;
  background: radial-gradient(circle at top right, #9356dc, #ff79da 50%);
  -webkit-background-clip: text;
  background-clip: text;
}

#footer {
  background-color: #4e4d4d;
}

.footer-content img {
  width: 100px;
  color: white;
}

.footer-content {
  padding: 15px 10px;
}

.footer-menu {
  color: white;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-menu .logo {
  font-family: shrikhand;
  font-weight: 200;
}

header a {
  position: inherit;
}

.loader {
  position: relative;
  height: 100%;
  width: 100%;
}

.loader>* {
  animation: magic 1s linear;
  animation-delay: 1s;
  background-color: white;
  z-index: 2;
  position: relative;
}

.loader .fa-spinner {
  justify-content: center;
  align-items: center;
  animation: spinning 1s linear infinite, loading 0s 1s;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes loading {
  0% {
    display: block;
  }

  100% {
    display: none;
  }
}

@keyframes magic {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spinning {
  0% {
    rotate: 0deg;
    color: #9356DC;
  }

  50% {
    rotate: 180deg;
    color: #FF79DA;
  }

  100% {
    rotate: 360deg;
    color: #99E2D0;
  }
}

.location {
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25);
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(242, 242, 242, 0.3215686275);
  padding: 40px;
}

.about p {
  font-size: x-large;
}

.about button {
  border-radius: 30px;
  border-color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  padding: 13px 17px;
  color: white;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.about button:hover {
  cursor: pointer;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works p {
  font-size: x-large;
}

.how-it-works .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.how-it-works .buttons button {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.05);
  align-content: space-between;
  padding: 25px;
  justify-content: center;
  margin: 20px 30px;
  font-size: larger;
  position: relative;
}

.how-it-works .buttons button i {
  color: #a1a0a0;
}

.how-it-works .buttons button .icon-background {
  background-color: #9356DC;
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -20px;
  top: calc(50% - 20px);
  box-sizing: unset;
}

.how-it-works .buttons button .fa-1,
.how-it-works .buttons button .fa-2,
.how-it-works .buttons button .fa-3 {
  color: white;
}

.how-it-works .buttons button:hover {
  background-color: rgba(146, 86, 220, 0.1568627451);
  cursor: pointer;
}

.how-it-works .buttons button:hover i {
  color: #9356dc;
}

.how-it-works .buttons button:hover .icon-background i {
  color: white;
}

.restaurants {
  padding: 20px 0px;
}

.restaurant-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #f1f1f1;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.restaurant-cards a {
  text-decoration: none;
  color: black;
}

.restaurant-cards a .image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.restaurant-cards a .image-container img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

.newcontainer {
  background-color: #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  display: flex;
  justify-items: center;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
}

.newcontainer .new {
  color: #57b19a;
  display: flex;
  justify-items: center;
}

.restaurant-info {
  display: block;
  padding: 10px 10px;
  position: relative;
}

.restaurant-info strong,
.restaurant-info p {
  display: block;
}

.hearts {
  position: absolute;
  top: 10px;
  right: 15px;
}

.hearts i.fa-solid {
  display: none;
}

.hearts:hover {
  cursor: pointer;
}

.hearts:hover i.fa-regular {
  display: none;
}

.hearts:hover i.fa-solid {
  display: block;
  color: transparent;
  background: radial-gradient(circle at top right, #9356dc, #ff79da 50%);
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (min-width: 768px) {
  .restaurant-card-container {
    display: flex;
    flex-direction: row;
  }

  .restaurant-card-container .restaurant-cards {
    display: flex;
    width: 47%;
  }
}

@media screen and (min-width: 992px) {
  header a {
    position: inherit;
  }

  .how-it-works {
    justify-content: space-around;
  }

  .how-it-works .buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
  }

  .restaurant-card-container {
    display: flex;
    flex-direction: row;
  }

  .restaurant-card-container .restaurant-cards {
    display: flex;
    width: 47%;
  }
}

/*# sourceMappingURL=style.css.map */