body {
    font-family: Roboto, arial, sans-serif;
}

.courses p {
    border-bottom: solid #99E2D0;
    width: 30px;
    text-transform: uppercase;
}
.course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid;
    border-color: #f1f1f1;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}
    .course-container p {
    border-bottom: none;
    text-transform: none;
}

    button {
        width: 150px;
        border-radius: 30px;
        border-color: transparent;
        background-image: linear-gradient(#ff79da, #9356dc);
        padding: 13px 17px;
        color: white;
        box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
    }

    footer {
        font-family: Roboto, arial, sans-serif;
        background-color: #4e4d4d;
        }
    
    .footer-content {
        padding: 15px 10px;
    }
    
    .footer-menu {
        color: white;
    }